
#page{
    max-width: 1729px;
}




.site-branding{
    padding-top: 32px;
}

.travel-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.travel-header.logged-inn{
    top: 32px;
}

.container{
    max-width: 1729px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.header-content{
    max-width: 1548px;
    height: 150px;
    display: flex; 
    gap: 30%;
    align-items: center;
   padding: 32px, 136px;
    width: 100%;

   
}

.navigation-items{
    display: flex;
     padding-top: 59px;
}
.header-menu{
    display: flex;
    gap: 76px;
 
}
.search-icons {
    display: flex;
    gap: 38px;
    position: absolute;
    left: 80%;
    top: 80px;
}
.header-menu a {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    text-align: left;
    color: #FFFFFF !important;
    
}
.header-menu a:hover {
    color: #ffffff !important;
}

.home-section-1{
    height: 1336px;
    position: relative;
    margin-bottom: 0;
    z-index: 1;
}
.home-section-1 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.imagination-content{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    
}


.imagination-title{
 font-family: Open Sans;
font-size: 75px;
font-weight: 800;
line-height: 102.14px;
text-align: center;
color: #FFFFFF;
width: 779px;
height: 204px;
top: 466px;
left: 475px;
gap: 0px;
opacity: 0px;
margin-bottom: 57px;

}
.imagination-text{
 font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 21.79px;
text-align: center;
width: 568px;
height: 44px;
top: 727px;
left: 580px;
gap: 0px;
opacity: 0px;
color: #FFFFFF;
margin-bottom: 39px;
}
.imagination-button{
font-family: Open Sans;
font-size: 24px;
font-weight: 600;
line-height: 32.68px;
text-align: center;
padding: 13px 22px 14px 24px;
background-color: #00A651;
border-radius: 10px;
color: #FFFFFF !important;
text-decoration: none;
}


  
  .home-page {
    overflow: hidden; 
  }
  
  .header, .home-section-1 {
    position: relative;
    z-index: 1; 
  }
  
  .header::before, .home-section-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.81) 0%, rgba(72, 72, 72, 0) 40%, rgba(158, 158, 158, 0) 87%, #FFFFFF 95%);
     z-index: 0;
     }
  
  /* HOME SECTION 2 */
.home-section-2 {
    width: 100%;
    max-width: 1728px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 88px;
    background-color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 95px;
}

.section-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    margin-bottom: 63px;
}

.our-services {
    max-width: 416px;
    height: 232px;
    background: #F9F9F9;
    border-radius: 15px;
    padding: 40px 50px 45px 20px;
}

.our-services:nth-child(2) {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.our-services-img {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    overflow: visible;
    margin-bottom: 36px;
}

.our-services-img img {
    height: 100%;
    width: auto;
}

.services-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 19px;
}

.services-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

/* HOME SECTION 3 */
.home-section-3 {
    padding: 81px 0;
    max-width: 1751px;
    width: 100%;
    height: auto;
    top: 1865px;
    background: rgba(0, 88, 83, 0.05);
    margin: 0 auto;
}


.map-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    width: 1184px;
    height: 622px;
    opacity: 65%;
}

.third-section-description {
    position: relative;
    z-index: 1;
    margin-bottom: 118px;
}

.third-section-title {
    max-width: 518px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0;
}

.third-section-text {
    max-width: 495px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 118px;
}

.section-third-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    margin-bottom: 19px;
}

.section-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.best-services-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 136px;
    flex-wrap: wrap;
    z-index: 1;
}

.our-best-services {
    background: #FFFFFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
}

.our-best-services-img {
    margin-bottom: 0;
    margin-top: 42px;
}

.our-best-services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-bottom: 20px;
}

.our-best-services h3 {
    margin-top: 25px;
}

.our-best-services p {
    margin-top: 0;
}

.bestservices-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 0;
}

.best-services-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}

.best-services-text-1 {
    width: 103px;
}

.best-services-text-2 {
    width: 91px;
}

.best-services-text-3 {
    width: 126px;
}

.best-services-text-4 {
    width: 129px;
}
/* Tornike_section */

.tornike_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 63px;
}


.second-title-container {
    width: 496px;
    height: 54px;
    margin-bottom: 63px;
}



.second-title-container h1 {
    justify-content: center;
    font-family: 'Open Sans';
    font-weight: 700px;
    font-size: 40px;
    line-height: 54.47px;
    align-items: center;
}

.containercards {
    display: flex;
    opacity: 0.6px;
    justify-content: space-between;
}
.tornikes_section_2{
    display: flex;
    margin-bottom: 100px;
}

.worldmap { 
    width: 700px;
    opacity: 0.6;
    margin-right: 187px;
}
.worldmap-div{
    position: absolute;
}

.location-1 {
    position: relative;
    top: 480px;
    left: 480px;
    
}
.location-1-1, .location-2-2,.location-3-3 {
 border-radius: 50%; 
 border: 1px solid black; 
 padding: 2px;     
}
.location-1-1:hover,
.location-2-2:hover,
.location-3-3:hover{
    border-radius: 50%; 
    border: 3px solid rgb(118, 181, 233);
    padding: 0px;     
   }

.location-2 {
    position: relative;
    top: 360px;
    left: 380px;
    
}
.location-3 {
    position: relative;
    top: 620px;
    left: 690px;
    
}

.imgcontainer {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-left: 60%;
}

.smallcontainer {
    display: flex;
    align-items: center;
    width: 659px;
    height: 223px;
    border-radius: 15px 15px 15px 15px;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px 0px #00000014; 
}

.smallcontainer h2 {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 600;
    line-height: 27.24px;
    text-align: center;
}

.countryname {
    width: 115px;
    margin-left: 49px;
}

.toko_description {
    width: 93px;
    margin-left: 30px;
}

.arrowing {
    width: 33px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.arrowing img {
    margin-left: 93px;
    max-width: none;
}

/* Footer-text */
.footer-text{
    max-width: 230px;
}
.footer-logo-text{
    font-family: 'Laila', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24.6px;
    margin: 0;
}
.footer-logo-text-div{
    margin-left: 60px;
}
.footer-logo-text-span{
    font-family: 'Laila', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 32.8px;
}
.footer-text-text{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 16.19px;
    text-align: left;
    color: #5E6282;
}
.footer-text-text-div{
    margin-top: 20px;
}


/* Footer-menu */

.footer-menu {
    list-style: none !important;
}

.footer-menu a{
    color: #0e1110 !important;
    text-decoration: none !important;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.41px;

}
.footer-menu .menu-item:first-child {
    padding-bottom:25.79px; 
    
}
.footer-menu .menu-item:first-child a{
    font-size: 21px ;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    line-height: 26.15px; 

}
.footer-menu li {
    margin-bottom: 23px; 
    margin-top: 2px;
}
.footer-nav-flex{
    display: flex;
    gap: 100px;
    margin-top: 5px;
    margin: 0px 140px 0px 80px;
    top: 80%;
    
    
}
.footer-flex{
    display: flex;
    z-index: 1;
    justify-content: space-between;
    /* gap: 130px; */
}
.footer-main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 168px;
    margin-bottom: 120px;
}
/* Footer-apps */

.social-links a{
    text-decoration: none;
}
.download-links a{
    text-decoration: none;
}
.footer-discover{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.9px;
    letter-spacing: 0.005em;
    text-align: left;
    color: #5E6282;
    margin-top: 11px;
    margin-bottom: 32px;

}
.footer-end-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section-5 */
.Home-section-5{
    background-color: #ECF1F0;
    box-sizing: border-box;
    text-decoration: none;
    min-height: 1094px;
    max-width: 1729px;
    margin-top: 0;
    margin-bottom: 105px;
    height: auto;
}

.section5-title{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding: 59px;
}

.buttons-group{
    display: flex;
    margin-top: 52px;
    
}
.buttons-group a{
    text-decoration: none;
}

.buttons-group .button-package:first-child{
    padding: 16px 42px 17px;
    background-color: #00A651 !important;
    border:#00A651 !important;
    border-radius: 10px;
    margin-left: 155px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF !important;
    background-color: #00A651 !important;
    box-sizing: border-box;
}



.buttons-group .button-package{
    padding: 16px 42px 17px;
    border-radius: 10px;
    background-color: #666666 !important;
    margin-left: 74px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF !important;
    box-sizing: border-box;
}


.posters{
    display: flex;
    margin-bottom: 98px;
    gap: 40px;

}


.indonesia .image-indonesia{
    height: 338px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;

}
  
.indonesia {
    width: 434px;
    height: 514px;
    margin-top: 107px;
    margin-left: 155px;
    background-color: #FFFFFF;
    border-radius: 10px;
    
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    
}
.know-more-flex{
    display: flex;
    align-items: center;
    padding-bottom: 17px;
    
}

.indonesia {
    display: flex;
    flex-direction: column;
    
}
 .indonesia-description{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
    height: 176px;
    
    
}

.indonesia .card-mountains{
    width: 434px;
    height: 338px;
    margin-bottom: 0;
}

.price h3{    
    background-color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin: 0;
    padding-left: 15px;
}

.indonesia-description h4{
    background-color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    margin: 0;
}

.explore-p{
    background-color: #FFFFFF !important;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin: 0px 15px 0;
    
   
}

.know-more-flex .little-img{
    width: 20px;
    height: 20px;

}
.little-img{
    margin-left: 15px;
    margin-bottom: 18px;
}
.span-more{
    display: flex;
    gap: 180px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    
   
}
.span-more h3{
    background-color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    box-sizing: border-box;
   

}

.span-more h5{
    background-color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    box-sizing: border-box;
    margin-bottom: 15px;
  
}

.button-green {
    font-family: Open Sans;
    background-color: #00A651 !important;
    border-radius: 10px;
    border: #00A651 !important;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;  
    color: #FFFFFF !important;
    text-decoration: none;
    margin-left: 46%;
    text-align: center;
    padding: 19px 65px 21px;
    margin-bottom: 105px;

 
    
}

/* end section-5 */


.hamburger-menu{
    color: #fff;
    font-size: 24px;
    display: none;
   
    
}

/* responsive */
.hamburger-menu-icon{
    cursor: pointer;
  position: absolute;
  left: 85%;  
  display: none;
}
#menu{
    display: none;
}

.sidebar-nav{
    position: fixed;
    left:-250px;
    height: 100%;
    background-color: #292C36;
    top: 0;
    width: 250px;
    padding: 80px 16px;
    transition: all 300ms;
}
#primary-menu-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#primary-menu-mobile a{
    text-decoration: none;
}

#menu:checked ~ .sidebar-nav {
    left: 0;

}
 .sidebar-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
}

@media screen and (max-width:1023px) {
    .hamburger-menu{
        display: inline-block;
    }
    #site-navigation{
        display: none;
    }
 .imagination-title{  
        font-size: 75px;
        font-weight: 800;
        line-height: 80px; 
}
    .search-icons{
        display: none;
    }
    .hamburger-menu-icon{
        display: inline-block;
    }
    .buttons-group{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 30px;
    }
    .posters{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 30px;
        margin-left:20%;
        margin: right 80%; 
    }
    .tornikes_section_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }
}

@media screen and (max-width:768px) {
    .imagination-title{
        font-size: 35px;
        font-weight: 800;
        line-height: 50px;
        width: 320px;
    } 

    .imagination-text{
        
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        max-width: 250px;
    }
    .imagination-button{
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        padding: 8px 13px 9px 13px;
        margin-top: 20px;
       
    }
    .site-branding img{
        width: 36px;
        height: 36px;

    }
    .best-services-container{
        gap: 70px;
    }
}
    
   

   


